*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(https://www.redditinc.com/assets/images/site/homepage/corpsite-about_final-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/*------------------------------------- Nav Bar -------------------------- */
nav li{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px;
    display:inline;
    float: right;
    padding: 25px;
    color: #989a9c;
    background-color: transparent;
    margin-top: 10px;
}


nav li:nth-child(7){
    font-weight: bold;
}

nav ul{
    margin-right: 1400px;
}

#nav{
    background-color: white;
    width: 100vw;
    height: 75px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 10;
}

#navimg{
    height: 85px;
    width: 120px;
    border-right: 1px solid #989a9c;
    position: relative;
    bottom: 10px;
}

/*----------------------- circle images-------------------------*/

#greycircle{
    float: right;
    position: relative;
    top: 42px;
}


#orangesemi img{
    height: 600px;
    position: relative;
    top: 275px;
}

#smallorange img{
    float: right;
    height: 55px;   
    position: relative;
    right: 400px;
    bottom: 150px;
}



/*--------------------------- intro-------------------------------*/

#logo{
    height: 90px;
    position: relative;
    left: 1150px;
    top: 375px;
}

#introhead{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    width: 800px;
    text-align: center;
    position: relative;
    top: 430px;
    left: 800px;
}

#subhead{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 23px;
    line-height: 1.44;
    text-align: center;
    width: 700px;
    color: rgba(255,255,255,0.7);
    position: relative;
    top: 450px;
    left: 840px;
}


