*{
    
    margin: 0px;
    padding: 0px;
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

body{
    background-image: url(https://www.redditinc.com/assets/images/site/homepage/corpsite-about_final-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 0px;
}


/*------------------------------------- Nav Bar -------------------------- */
nav li{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 16px;
    display:inline;
    float: right;
    padding: 25px;
    color: #989a9c;
    background-color: transparent;
    margin-top: 10px;
}

#ab{
    color: #31363a;
    font-weight: bold;
}



nav ul{
    margin-right: 1390px;
}

#nav{
    background-color: white;
    width: 100vw;
    height: 75px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 10;
}

#navimg{
    height: 85px;
    width: 120px;
    border-right: 1px solid #989a9c;
    position: relative;
    bottom: 10px;
    padding-right: 15px;
}

/*----------------------- circle images-------------------------*/

#greycircle{
    float: right;
    position: relative;
    top: 42px;
}


#orangesemi img{
    height: 600px;
    position: relative;
    top: 275px;
}

#smallorange img{
    float: right;
    height: 55px;   
    position: relative;
    right: 400px;
    bottom: 150px;
}

#greyarrow{
    height: 100px;
    width: 200px;
}


#emptysmall{
    float: right;
    position: relative;
    bottom: 300px;
    height: 300px;
    width: 300px;
}


#emptysemi{
    float: left;
    position: relative;
    bottom: 90px;
}   

/*--------------------------- intro-------------------------------*/

#logo{
    height: 90px;
    position: relative;
    left: 1150px;
    top: 375px;
}

#introhead{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    width: 800px;
    text-align: center;
    position: relative;
    top: 430px;
    left: 800px;
}

#subhead{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 23px;
    line-height: 1.44;
    text-align: center;
    width: 700px;
    color: rgba(255,255,255,0.7);
    position: relative;
    top: 450px;
    left: 840px;
}


/*------------------------Visit Redit-----------------------*/


#how{
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #fff;
    font-size: 23px;
    margin-left: 1000px;
    position: relative;
    top: 150px;

}

#subhow{
    color: rgba(255,255,255,0.7);
    font-size: 19px;
    line-height: 1.5;
    width: 600px;
    position: relative;
    left: 950px;
    top: 175px;
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;

}

#visitbox{
    background-color: orangered;
    position: relative;
    top: 210px;
    left: 1100px;
    display: inline-block;
    border: 1px solid orangered;
    border-radius: 4px;
    padding: 5px;
    height: 25px;
    width: 153px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
}

#visitbox a{
    color: white;
    text-decoration: none;
    font-family: "benton sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

#sscombined{
    height: 900px;
    width: 1100px;
}

#ss{

    position: relative;
    top: 200px;
    left: 700px;
}

/*------------------------------------- 3 Boxes under the visit section --------------------------*/
#PCV{
    padding: 300px;
}

#PCV ul li{
    position: relative;
    left: 400px;
    bottom: 60px;
    margin-right: 40px;
    color: white;
    list-style-type: none;
    display: inline;
    font-size: 30px;
    font-family: "bento sans", Arial, "Helvetica Neue",Helvetica,sans-serif;
    
}


.boxes3{
    border: 1px solid grey;
    border-radius: 4px;
    padding: 30px 130px 200px;
    
}



#PCVtxt{
    color: rgba(255,255,255,0.7);
    font-size: 22px;
    font-family: "bento sans", Arial, "Helvetica Neue",Helvetica,sans-serif;
    width: 250px;
}

#post{
    position: relative;
    bottom: 300px;
    left: 760px;
}

#comment{
    width: 300px;
    position: relative;
    bottom: 400px;
    left: 1150px;
}


#vote{
    position: relative;
    bottom: 500px;
    left: 1600px;
}



/*----------------------------- Reddit By the numbers ---------------------------*/


#numbers{
    background-color: #293b4a;
    background-size: cover;
    max-height: 300px;
    width: 100vw;
    padding-top: 400px;
    padding-bottom: 400px;
    display: block;
}


#numbershead{
    color: white;
    position: relative;
    bottom: 300px;
    left: 1000px;
}


#subnumbers{
    color: rgba(255,255,255,0.7);
    width: 400px;
    position: relative;
    bottom: 280px;
    left: 1000px;
}

#box4 li{
    color: white;
    list-style-type: none;
    margin-right: 30px;
    position: relative;
    left: 600px;
    bottom: 100px;
    background-color: rgba(255,255,255,0.1);
    font-size: 50px;
}

.boxes4 ul li{
    color: white;
    display: inline;
}


.boxes4{
    border: 1px solid grey;
    border-radius: 4px;
    width: 100px;
    float: left;
    padding: 30px 100px 180px;
}

#box4text{
    color:rgba(255,255,255,0.7);
    position: relative;
    top: 90px
}

#five{
    position: relative;
    right: 700px;
    top: 20px;
}

#M{
    position: relative;
    right: 350px;
    
}

#K{
    position: relative;
    bottom: 18px;
}

#B{
    position: relative;
    left: 300px;
    bottom: 30px;
}


#press{
    text-decoration: none;
    background-color: orangered;
    position: relative;
    top: 300px;
    right: 250px;
    display: inline-block;
    border: 1px solid orangered;
    border-radius: 4px;
    padding: 5px;
    height: 25px;
    width: 153px;
    padding-left: 40px;
    padding-right: 18px;
    padding-top: 12px;
    color: white;
}

#press a{
    font-family: "bento sans", Arial, "Helvetica Neue",Helvetica,sans-serif;
} 

/*----------------------- Fotter -------------------------- */



#footerhead{
    padding-top: 150px;
    color: white;
    position: relative;
    left: 1050px;
}


#subfoot{
    color:rgba(255,255,255,0.7);
    position: relative;
    left: 970px;
    padding-top: 20px;
    padding-bottom: 200px;
    font-size: 20px;
}


#leftguy{
    position: relative;
    left: 900px;
    z-index: 8;
    padding-bottom: 0px;
}


#leftinfo p{
    color: white;
    text-decoration: none;
    position: relative;
    left: 920px;
    bottom: 100px;
    font-size: 22px;
}

#steve{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    left: 920px;
    bottom: 100px;
}



#leftlink{
    color: #3683d2;   
    position: relative;
    left: 980px;
    bottom: 100px;
    text-decoration: none;
}


#rightguy{
    position: relative;
    left: 1200px;
    bottom: 365px;
    z-index: 8;
    padding-bottom: 0px;
}

#rightinfo{
    color: white;   
    position: relative;
    left: 1230px;
    bottom: 173px;
}

#rightinfo p{
    font-size: 22px;
}

#alex{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

#rightlink{
    color: #3683d2;   
    position: relative;
    text-decoration: none;
}

#moon{
    position: relative; 
    left: 580px;
    bottom: 590px;
    padding-bottom: 0px;
    
}


#moonimg{
    width: 1200px;
    padding-bottom: 0px;
}

/*------------------------- footer info ------------------------*/

#footerinfo{
    position: relative;
    bottom: 600px;
    background-color: #142736;;
    height: 600px;
    padding-bottom: 0px;
}

#footlist1 li{
    color:white;
    list-style-type: none;
    padding: 20px;
    font-family: inherit;
    position: relative;
    top: 50px;
    left: 700px;
}




#footlist2 li{
    color:white;
    list-style-type: none;
    padding: 20px;
    font-family: inherit;
    position: relative;
    left: 900px;
    bottom: 245px;
}



#footlist3 li{
    color:white;
    list-style-type: none;
    padding: 20px;
    font-family: inherit;
    position: relative;
    left: 1200px;
    bottom: 483px;
    font-weight: bold;
}


#footlist4 li{
    color:white;
    list-style-type: none;
    padding: 20px;
    font-family: inherit;
    position: relative;
    left: 1500px;
    bottom: 780px;
}

#footlist4 ul{
    padding: 0px;
}

#footlist4 li:first-child{
    font-weight: bold;
}


#policy{
    color: white;
    position: relative;
    bottom: 600px;
    text-align: center;
}

